<table>
  <tbody>
    <tr>
      <th>Nombre del campo para fecha de inicio planificada</th>
      <td>
        <input type="text" id="start_date" 
                           value="<%= settings['start_date'] %>" 
                           name="settings[start_date]" >
      </td>
    </tr>
	<tr>
      <th>Nombre del campo para fecha de fin planificada</th>
      <td>
        <input type="text" id="due_date" 
                           value="<%= settings['due_date'] %>" 
                           name="settings[due_date]" >
      </td>
    </tr>
	<tr>
      <th>Nombre del campo para hitos planificados</th>
      <td>
        <input type="text" id="hitos" 
                           value="<%= settings['hitos'] %>" 
                           name="settings[hitos]" >
      </td>
    </tr>
  </tbody>
</table>
