  /*Options menu*/
  #filterBox
  {
    display:flex;
    margin: 10px 0 0 0;
  }
  .filterContainer
  {
    display:flex;
	flex-direction: column;
  }
  .filterContainer + .filterContainer{
	margin-left: 100px;
  }
  .filterItem{
    display:flex;
    justify-content:flex-start; 
  }
  .filterItem div{
    margin: 0 10px;
  }
  .optItem
  {
    margin: 10px 0 0 0;
    display:flex;
    justify-content:left;
  }
  .optItem input
  {
    margin:0 10px;
  }
  #zoomSection
  {
	display:flex;
	justify-content:flex-end;
  }
  select
  {
    width: 250px;
  }
  .optButton
  {
    width: 150px
  }

  /*Zoom button*/
  .iconButton
  {
	height:25px;
	width:25px;
	margin:4px 0;
  }
  .iconButton img 
  {
    width:100%;
    height:100%;
  }
  .styledButton
  {
	background-color: white;
    border: 1px solid #d3d3d3;
  }
  .styledButton:active
  {
	background-color: black;
  }
  .styledButton:hover
  {
	border: 1px solid #505050;
  }
  
  /*Background Colors*/
  .vis-labelset .vis-label:nth-child(odd)
  {
    background-color: white;
  }
  .vis-panel.vis-top
  {
	background-color: #eeeeee;
  }
  .vis-panel.vis-left
  {
    background-color: rgba(246, 247, 248, 0.5);
  }
  
  .vis-time-axis .vis-grid.vis-saturday, 
  .vis-time-axis .vis-grid.vis-sunday
  {
    background: #d3d3d3;
  }
  /*Timeline items*/
  .vis-point
  {
	display: none;
  }
  .vis-item.vis-range
  {
    border: none;
    background: #90a3cc;
  }
  .vis-item.vis-dot 
  {
    width: 8px; 
    height: 8px; 
    border: none;
    border-radius: 0px;
    background:#707070;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /*Progress Bars*/
  
  .vis-item .vis-item-content 
  {
    padding:0px;
  }
  .vis-item.vis-range
  {
    height:15px;
  }
  .progress-wrapper 
  {
	display: none;
    background: #90a3cc;
    width: 100%;
    height: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .progress 
  {
    height: 100%;
    width: 60%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #707070;
  }
  .progress-label
  {
    position: absolute;
    z-index: 1;
  }

  /*groupContent positioning and flex*/
  .description
  {
	cursor: alias;
  }
  .vis-label
  {
    display:flex;
    align-items: center; 
  }
  .vis-inner
  {
    flex:auto;
    display:flex;
    text-align: center;
  } 
  .pseudoTable
  {
    flex:auto;
    display:flex;
    align-items: center;
    border-collapse: collapse;
  }
  .max250
  {
	width: 250px;
  }
  .max200
  {
	width: 200px;
  }
  .max75
  {
	min-width: 25px;  
	max-width: 100px;
  }
  #pseudoTableHeaders
  {
	font-weight: bold;
	color:#3763ba;
	display:flex;
    text-align: center;
	margin-left:7px;
	margin-top:7px;
  }
  #pseudoTableHeaders .paddedTd
  {
	border:none;
  } 
  